<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.big.screen.mapper.CityMapper">
    <select id="list10" resultType="com.big.screen.entity.City">
        select * from city limit 0,10
    </select>
</mapper>